*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-c{
    display: flex;
    flex-direction: column;
}
.d-flex{
    display: flex;
}
nav{
    height: 50px;
    background-color: #0084fd;
    align-items: center;
    justify-content: space-between;
}
nav>div{
    height: 50%;
    background-color: #ffffff;
    margin:0 1rem;
}
.container{
    background-color: white;
    align-items: center;
 }
 .card{
    width: 90%;
    height: 400px;
    margin: 1rem 0;
    border-radius: 1rem;
 }
 
 .container>.max-card{ 
    width: 90%;
    height: 600px;
    background-color:#b5ddff ;
    margin: 1rem 0;
    border-radius: 1rem;
 }

 
.container>.card{
    background-color: #b5ddff;
    margin: 1rem 0;
    border-radius: 1rem;
}
.container-two{
    align-items: center;
    background-color: #9792e4;
}
.container-two>.card{
    width: 90%;
    height: 600px;
    background-color:white ;

}
.container-three{
    margin-top: 2rem;
    align-items: center;
    background-color: white ;
}
.container-three>article{
    text-align: center;
}
.container-three>.card{
    width: 90%;
    background-color:#9792e4 ;
}
.container-four{
    align-items: center;
    background-color:#9792e4;
}
.container-four>.card{
    width: 90%;
    background-color:white ;
}
.container-four>article{
    width: 100%;
    text-align: center;
}

@media screen and (min-width:760px) {
    header{
        width: 100%;
    }

    .container{
        flex-direction: row;
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }
     .container>.max-card{
      width:65%;
      height:400px;
    }

    .card{
     width: 30%;
    }
    .container-four{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }

    .container-four>.card{ 
        width: 40%;

    }

 }