*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-c{
    display: flex;
    flex-direction: column;
}
.d-flex{
    display: flex;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #0084fd;
    align-items: center;
}
.container-nav{
    width: 90%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
.container-nav>div{
    width: 50%;
    height: 50%;  
}
.container{
    background-color: white;
    align-items: center;
 }
 .max-card>img{
    width: 80%;
}
 .card{
    width: 90%;
    margin: 1rem 0;
    border-radius: 1rem;
 }
 
 .container>.max-card{ 
    width: 90%;
    background-color:#b5ddff ;
    margin: 1rem 0;
    border-radius: 1rem;
    align-items: center;
 }
 article>button{
    background-color: #0084fd;
    color: white;
    border-radius: 2rem;
    padding:.5rem 1rem;
    width: 50%;
    margin-top: 2rem;
 }
 .max-card>article{
    width: 90%;
    margin-bottom: 2rem;
    margin: 0 1rem;

 }
 .max-card>article>h1{
    margin-bottom: 1rem;
    color:#0084fd ;
 }
 .max-card>article>p{
    line-height: 1.5rem;
 }
 
.container>.card{
    background-color: #b5ddff;
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 1rem;
}
.card>.description{
    text-align: center;
    padding: 0 1rem;
    margin-top: 2rem;
}
.icona{
    color:#0084fd ;
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 6rem;
  margin-top: 2rem;
}
.row-one{
    background-color: #9792e4;
    justify-content: center;

}
.container-two{
    width: 100%;
    align-items: center;

}

.container-two>.card{
    color: white;
    padding: 1rem;
    align-items: center;
    line-height: 1.5rem;
}
.card>img{
    width: 100%;

}

.square{
    background: white;
    width: 90%;
    text-align: center;
    border-radius: 3rem;
    padding: 1rem;
    line-height: 1.5rem;
    margin: 1rem;
}
.square>img{
    width: 70%;
}
.container-three{
    margin-top: 2rem;
    align-items: center;
    background-color: white ;
    text-align: center;
}
.container-three>article{
    width: 90%;
    text-align: center;
    line-height: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
}
.container-three>article>h1{
    color:#9792e4;
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 1rem;
}

.image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.expert{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.expert>article{
    color: white;
}
.expert>article>p:first-child {
    color: white;
    margin-bottom: 1rem;
}
    
.container-three>.card{
    background-color:#9792e4 ;
    padding: 1rem 1rem;
}
.card>article{
    margin-top: 2rem;

}
.row-two{
    justify-content: center;
    margin-top: 2rem;
    background-color:#9792e4  ;
}
.container-four{
    width: 100%;
    align-items: center;
    background-color:#9792e4;
}
.container-four>.card{
    background-color:white ;
}
.container-four>article{
    width: 90%;
    text-align: center;
    color: white;
    font-size: 2rem;
    margin: 2rem 0;
}
.col{
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    line-height: 1.5rem;
}
.col>button{
    background-color: #9792e4;
    border-radius: 1rem;
    color: white;
    padding: .5rem 2rem;
    margin-top: 2rem;
}
.title-col{
    margin-bottom: 2rem;
    line-height: 3rem;
    color: #9792e4;
}
.container-five{
    border: solid 1px black;
    background-color: white;
    align-items: center;
    margin-top: 2rem;
}
.container-five>.box{
    width: 90%;
    
    padding: 1rem;
    line-height: 2rem;
}
.container-five>.box>h1{
    margin: 2rem 0;
}
.box>p:last-child{
    margin-top: 2rem 0;
}
.box-two{
    padding:2rem 2rem;
}
.box-two>h2{
    margin-top: 1rem;
    color: #9792e4;
}
.box-two>button{
    background-color: #9792e4;
    border-radius: 2rem;
    padding: .5rem 2rem;
    margin-top: 1rem;
    color: white;
}

@media screen and (min-width:760px) {
    .container-nav{
        width: 90%;
        margin: auto;
        justify-content: space-between;
    }

   
    .container{
        flex-direction: row;
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }
     .container>.max-card{
       width: 65%;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
    }

    .card{
      width: 30%;
    }
    .max-card>article{
        width: 100%;
    }
    .container-two>.card{
        width: 90%;
    }
   
    .container-three>.card{
        width: 90%;
    }
    .card>img{
        width: 70%;
    }
    .expert{
        flex-direction: row;
        justify-content: space-around;
    }
    image{
        width: 30%;
    }
    .expert>article{
        width: 60%;
    }

    .container-four{ 
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .container-four>.col{ 
        width: 40%;
    }
    .container-five{
        flex-direction: row;
        justify-content: space-around;

    }
    .container-five>.box{
        width: 60%;

    }
    .container-five>.box-two{
        width: 30%;
        height: 50%;
        justify-content: flex-start;

    }


 }

 @media screen and (min-width: 993px){
    .container-nav{
        width: 75%;
        margin: auto;
        justify-content: space-between;
    }
    .container{
        width: 75%;
    }
    .max-card{
        display: flex;
        flex-direction: row;
    }
    .max-card>article{
        width: 40%;
        vertical-align: super;
    }
    .max-card>img{
        width: 50%;
        justify-content: flex-end;
    }

 
    .container-two{
        width: 75%;
        height: 600px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .container-two>.card{
        width: 35%;
        align-items: flex-start;
        
    }
    
    .container-two>.square{
        width: 35%;
        align-items: flex-end;
    }

    .container-three{
        width: 75%;
        align-items: center;
        margin: auto;
    }
    .container-three>.card{
        width: 100%;
    }

    .container-four{
        flex-direction: row;
        flex-wrap: wrap;
        width: 75%;
        justify-content: space-between;
    }
    .container-four>.col{
        width: 30%;
    }

    .container-five{
        width: 70%;
        margin: auto;
        align-items: center;
        margin-top: 2rem;
    }
   .container-five>.box{
     width: 100%;
   }
 }
